body{
  font-family: "Source Sans Pro";
  border: 20px solid #bdc3c7;
  padding: 20px;
  width: 80%;
  margin: 20px auto;
}

h2{
  color: #2c3e50;
}

.date{
  color: #3498db;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

p:nth-of-type(1){
  border-left: 5px solid #bdc3c7;
}
